
<ion-header>
  <header id="header" class="main-header inner-page-header pt-1" style="height: 60px;">
      <div class="custom-container mt-1">
          <div class="header-panel">
              <div class="flex-align-center gap-2">
                  <a  routerLink="/driver/my-rides" data-bs-toggle="offcanvas">
                      <i class="iconsax fa fa-chevron-left text-white" data-icon="text-align-left"> </i>
                  </a>
                  &nbsp;<h6 class="categories-title mt-2 text-white">Ride Details</h6>
              </div>
  
              <div class="flex-align-center gap-sm-3 gap-2">
                  <img class="img-fluid logo user-logo" src="../../../assets/dlogo.png" style="height: 40px;" alt="logo">
              </div>
          </div>
      </div>
  </header>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <!-- header end -->
  
  <!-- active ride starts -->
  <section>
  <div class="custom-container">
  <ul class="my-ride-list driver-ride-list mt-0">
  <li *ngFor = "let row of accepted_trip">
      <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="validateOtp()" enctype="multipart/form-data">
      <div class="my-ride-box">
          <div class="my-ride-head">
              <a class="my-ride-img">
                  <img class="img-fluid profile-img" src="../../assets/images/profile/p5.png" alt="p5">
              </a>
  
              <div class="my-ride-content flex-column">
                  <div class="flex-spacing">
                      <a>
                          <h6 class="title-color fw-medium">{{row.u_name}}</h6>
                      </a>
                      <h5 class="fw-mediun success-color m-0">&#8377; {{row.payment_amt}}</h5>
                  </div>
                  <div class="flex-align-center gap-3">
                      <div class="flex-align-center gap-1">
                          
                          <h5 class="fw-normal m-0 title-color" style="">{{row.u_email}}</h5>
                          
                      </div>
                  </div>
              </div>
          </div>
  
          <div class="my-ride-details">
              <div class="ride-info">
                  <h6 class="fw-normal content-color">{{row.trip_date | date:'dd'}} {{row.trip_date | date:'MMMM'}} {{row.trip_date | date:'YYYY'}}</h6>
                  <div class="flex-align-center gap-2">
                      
                      <a class="">
                        <li>{{row.payment_mode}}</li>
                      </a>
                      <!-- <a href="tel:+4733378901" class="comm-icon">
                          <img class="img-fluid icon-btn" src="./../../../assets/images/svg/call-fill.svg"
                              alt="call">
                      </a> -->
                  </div>
              </div>
              <ul class="ride-location-listing mt-3">
                  <li class="border-0 shadow-none">
                      <div class="location-box">
                          <img class="icon" src="./../../../assets/images/svg/location-pin-svgrepo-com (1).svg"
                              alt="location">
                          <h5 class="fw-light m-0 title-color">{{row.pickUpAddress}}</h5>
                      </div>
                  </li>
  
                  <li class="border-0 shadow-none">
                      <div class="location-box">
                          <img class="icon" src="./../../../assets/images/svg/location-define-svgrepo-com.svg" alt="gps">
                          <h5 class="fw-light m-0 title-color border-0">{{row.dropAddress}}
                          </h5>
                      </div>
                  </li>
              </ul>
                  <div class="w-100" *ngIf="trip_status == 'accepted'">
                          <ul class="mt-0 ride-location-listing align-content-center">
                              <li class="location-box">
                                  <img class="icon" src="./../../../assets/images/svg/otp.svg"
                                      alt="location">
                                  <h5 class="fw-light title-color mt-0">
                                      Please enter the Pickup OTP to start the ride    
                                  </h5>
                              </li>
                              
                          </ul>
                          <input type="hidden" formControlName="trip_tbl_id">
  
                          <div class="custom-container pb-2 otp-form" style="background: #F5F5F5;">
                              <div class="form-input dark-border-gradient bg-white" *ngFor="let ctrl of [1,2,3,4]; let i = index">
                                  <input
                                  #otpInput
                                  [formControlName]="'otp' + (i+1)"
                                  placeholder="0"
                                  maxlength="1"
                                  class="form-control bg-white active"
                                  (keyup)="onOtpKeyUp($event, i)"
                                  />
                              </div>
                              
                              </div >
                              <div class="m-0 p-0" *ngIf="loginForm.get('otp1')?.invalid && loginForm.get('otp1')?.touched || loginForm.get('otp2')?.invalid && loginForm.get('otp2')?.touched || loginForm.get('otp3')?.invalid && loginForm.get('otp3')?.touched || loginForm.get('otp4')?.invalid && loginForm.get('otp4')?.touched">
                                  <small class="text-danger">Please Enter OTP</small>
                              </div>
                  </div>
                  
          </div>
          
          <button type="button" *ngIf="trip_status == 'completed'" class="btn theme-btn w-100 mt-3">Ride Completed - {{row.completed_time*1000 | date:'medium'}}</button>
          
          <!-- <button *ngIf="row.payment_status == 'pending' && payment_mode=='online'" class="btn btn-warning w-100 mt-3">Generate QR Code</button> -->
          <button type="submit" *ngIf="trip_status == 'accepted'" class="btn theme-btn w-100 mt-3">Confirm & Pickup Customer</button>
          <button type="button" (click)="completeRide(row.trip_tbl_id)" *ngIf="trip_status == 'confirm' || trip_status == 'onboard' " class="btn theme-btn w-100 mt-3">Complete Customer Ride</button>

          <button type="button" (click)="payByCash(row.trip_tbl_id)" *ngIf="row.payment_status == 'pending' && payment_mode=='cash'" class="btn btn-warning w-100 mt-3">Confirm If Payment Paid By Cash ?</button>
          <button type="button" *ngIf="row.payment_status == 'paid'" class="btn btn-light w-100 mt-3">Payment Paid -  {{row.payment_paid_time*1000 | date:'medium'}}</button>
          
      </div>
  </form>
  <!-- <div class="custom-container" *ngIf="trip_status == 'onboard'">
    <ul class="payment-method-list d-flex justify-content-between mt-2 pt-0">
        <li class="w-100">
            <div class="payment-list-box">
                <label class="form-check-label" for="flexRadioDefault"> Cash</label>
                <input class="form-check-input" type="radio" name="flexRadioDefault" [attr.checked]="payment_mode=='cash'" id="flexRadioDefault">
            </div>
        </li>
        <li class="w-100">
            <div class="payment-list-box">
                <label class="form-check-label" for="flexRadioDefault1"> Online</label>
                <input class="form-check-input" type="radio" name="flexRadioDefault" [attr.checked]="payment_mode=='online'" id="flexRadioDefault1">
            </div>
        </li>
        
    </ul>
</div> -->
  </li>
  
  </ul>
  </div>

  </section>
  <!-- active ride end -->
  
  <!-- panel-space start -->
  <section class="panel-space"></section>
  <app-footer></app-footer>
  </ion-content>
  