

<ion-header>
    <header id="header" class="main-header inner-page-header pt-1" style="height: 60px;">
        <div class="custom-container mt-1">
            <div class="header-panel">
                <div class="flex-align-center gap-2">
                    <a routerLink="/user/home" data-bs-toggle="offcanvas">
                        <i class="iconsax fa fa-chevron-left text-white" data-icon="text-align-left"> </i>
                    </a>
                    &nbsp;<h3 class="categories-title text-white">My Rides</h3>
                </div>
    
                <div class="flex-align-center gap-sm-3 gap-2">
                    <img class="img-fluid logo user-logo" src="../../../assets/dlogo.png" style="height: 40px;" alt="logo">
                </div>
            </div>
        </div>
    </header>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <!-- <header id="header" class="main-header inner-page-header pt-1" style="height: 60px;">
        <div class="custom-container mt-1">
            <div class="header-panel">
                <div class="flex-align-center gap-2">
                    <a href="#offcanvasLeft" data-bs-toggle="offcanvas">
                        <i class="iconsax fa fa-chevron-left text-white" data-icon="text-align-left"> </i>
                    </a>
                    &nbsp;<h3 class="categories-title text-white">Categories</h3>
                </div>
    
                <div class="flex-align-center gap-sm-3 gap-2">
                    
                    <img class="img-fluid logo user-logo" src="../../../assets/dlogo.png" style="height: 40px;" alt="logo">
                   
                </div>
            </div>
        </div>
    </header> -->

<section class="section-b-space">

    <ul class="nav nav-pills my-ride-tab w-100 border-0 m-0" id="Tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button (click)="getRideList('accepted',1)" class="nav-link" [class.active] = 'tab_id == 1' >Active Ride</button>
        </li>
        

        <li class="nav-item" role="presentation">
                <button class="nav-link" (click)="getRideList('completed',2)" [class.active] = 'tab_id == 2'>
                Complete Ride</button>
        </li>

        
        <li class="nav-item" role="presentation">
            <button class="nav-link" (click)="getRideList('cancel',3)" [class.active] = 'tab_id == 3'>
                    Cancelled Ride</button>
        </li>
    </ul>
    <div class="custom-container">
        <div class="tab-content ride-content" id="TabContent">
            
                <ul class="my-ride-list">
                    <li *ngFor="let row of trip_list;"> 
                        <div class="my-ride-box" >
                            <div class="my-ride-head" (click)="openRideDetails(row.trip_tbl_id)">
                                <a href="#" class="my-ride-img">
                                    <img class="img-fluid my-ride-icon" src="./../../../assets/images/svg/car-svgrepo-com (5).svg"
                                        alt="receipt">
                                </a>

                                <div class="my-ride-content flex-column">
                                    <div class="flex-spacing">
                                        <a href="#">
                                            <h6 class="title-color fw-medium">ID : 12000052</h6>
                                        </a>
                                        <span class="status accent-color fw-normal text-capitalize">{{row.trip_status}}</span>
                                    </div>
                                    <div class="flex-spacing  mt-2">
                                        <h6 class="fw-mediun success-color">{{row.payment_amt | currency : 'INR'}}</h6>
                                        <h6 class="fw-normal content-color">{{row.entry_time*1000 | date : 'medium'}}</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="my-ride-details">
                                <div class="ride-info" (click)="openRideDetails(row.trip_tbl_id)">
                                    <div class="ride-info-content">
                                        <div class="d-flex align-content-center gap-2 lh-base">
                                            <h5 class="fw-normal title-color">{{row.u_name}}</h5>
                                            <div class="flex-align-center gap-1">
                                                <!-- <img class="star" src="./../../../assets/images/svg/star.svg" alt="star"> -->
                                                <!-- <h5 class="fw-normal title-color">4.8</h5> -->
                                                <!-- <span class="count content-color fw-normal">(127)</span> -->
                                            </div>
                                        </div>
                                        <h6 class="fw-normal content-color mt-1">{{row.type_name}}</h6>
                                    </div>
                                    <img class="img-fluid profile-img" src="https://e7.pngegg.com/pngimages/799/987/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper-thumbnail.png"
                                        alt="p5">
                                </div>

                                <ul (click)="openRideDetails(row.trip_tbl_id)" class="ride-location-listing mt-3">
                                    <li class="location-box">
                                        <img class="icon" src="./../../../assets/images/svg/location-pin-svgrepo-com (1).svg"
                                            alt="location">
                                        <h5 class="fw-light title-color">{{row.pickUpAddress}}</h5>
                                    </li>

                                    <li class="location-box">
                                        <img class="icon" src="./../../../assets/images/svg/location-define-svgrepo-com.svg" alt="gps">
                                        <h5 class="fw-light title-color border-0">{{row.destination}}
                                        </h5>
                                    </li>
                                  
                                </ul>
                                <a (click)="openRideDetails(row.trip_tbl_id)" class="float-left btn btn-block btn-sm pt-1 pb-1 mt-2 mb-2 btn-warning" >
                                    <i class="iconsax icon fa fa-info text-right text-dark text-danger" data-icon="trash"> </i>
                                </a>
                                <a (click)="cancelTrip(row.trip_tbl_id)" class="float-end btn btn-block btn-sm pt-1 pb-1 mt-2 mb-2 btn-danger" *ngIf="row.trip_status == 'pending'">
                                    Cancel Ride <i class="iconsax icon fa fa-trash text-right text-white error-icon" data-icon="trash"> </i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li *ngIf="noActiveTrip" class="text-center mt-3">
                        <div class="empty-box">
                            <img class="img-fluid empty-img " style="height: 140px;width: 140px;" src="./../../../assets/images/svg/empty-bed-svgrepo-com.svg" alt="empty">
                            <h3 class="title-color">No Active Ride</h3>
                            <p class="content-color pb-3">You have no active ride at the moment.</p>
                        </div>
                    
                    </li>
                </ul>
           

        </div>
    </div>
</section>

<!-- panel-space start -->
<section class="panel-space"></section>
<app-footer></app-footer>

</ion-content>
