

<ion-content [fullscreen]="true">

<!-- header end -->
<header id="header" class="main-header inner-page-header" >
    <div class="custom-container">
        <div class="header-panel">
            <div class="flex-align-center gap-2">
                <a href="#offcanvasLeft" data-bs-toggle="offcanvas">
                  <ion-buttons slot="start">
                    <ion-menu-button class="text-dark"></ion-menu-button>
                  </ion-buttons>
                </a>
                <h3 class="categories-title"> My Ride</h3>
            </div>

            <!-- <div class="flex-align-center gap-sm-3 gap-2">
                <a href="chatting.html">
                    <i class="iconsax icon-btn" data-icon="messages-2"> </i>
                </a>
                <a href="notification.html">
                    <i class="iconsax icon-btn noti-icon" data-icon="bell-2"> </i>
                </a>
            </div> -->
        </div>
    </div>
</header>
<!-- my ride section starts -->
<section class="section-b-space" style="background: #F5F5F5;padding-top: 1px !important;position: relative;top: -15px;">

    <ul class="nav nav-pills d-none my-ride-tab w-100 border-0 m-0" id="Tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button (click)="getRideDet('accepted')" class="nav-link " id="pill-active-tab" data-bs-toggle="pill"
                data-bs-target="#active-tab">Active Ride</button>
        </li>
        <li class="nav-item" role="presentation">
            <button (click)="getRideDet('pending')" class="nav-link active" id="pill-pending-tab" data-bs-toggle="pill"
                data-bs-target="#pending-tab">Pending Ride</button>
        </li>

        <li class="nav-item" role="presentation">
            <button (click)="getRideDet('complete')" class="nav-link" id="pill-complete-tab" data-bs-toggle="pill" data-bs-target="#complete-tab">
                Complete Ride</button>
        </li>
        <li class="nav-item" role="presentation">
            <button (click)="getRideDet('cancel')" class="nav-link" id="pill-cancel-tab" data-bs-toggle="pill" data-bs-target="#cancel-tab">Cancel
                Ride</button>
        </li>
    </ul>
    <div class="custom-container mt-0 pt-0">
        <div class="tab-content ride-content" id="TabContent">
            <div class="tab-pane fade active show" id="active-tab">
                <ul class="my-ride-list" *ngIf="trip_status=='pending'">
                    <li *ngFor="let row of trip_list;">
                        <div class="my-ride-box">
                            <div class="my-ride-head">
                                <a href="#" class="my-ride-img">
                                    <img class="img-fluid my-ride-icon" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/car-img.svg"
                                        alt="receipt">
                                </a>

                                <div class="my-ride-content flex-column">
                                    <div class="flex-spacing">
                                        <a href="#">
                                            <h6 class="title-color fw-medium">ID : 12000052</h6>
                                        </a>
                                        <span class="status accent-color fw-normal">Pending</span>
                                    </div>
                                    <div class="flex-spacing  mt-2">
                                        <h6 class="fw-mediun success-color">&#8377; 203</h6>
                                        <h6 class="fw-normal content-color">{{row.entry_time * 1000 | date:'medium'}}</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="my-ride-details">
                                <div class="ride-info">
                                    <div class="ride-info-content">
                                        <div class="d-flex align-content-center gap-2 lh-base">
                                            
                                            <div class="flex-align-center gap-1">
                                                <h5 class="fw-normal title-color">{{row.distance}} KM</h5>
                                                <span class="count content-color fw-normal">({{row.type_name}})</span>
                                            </div>
                                        </div>
                                        <h6 class="fw-normal content-color mt-1">{{row.brand_name}}</h6>
                                    </div>
                                    <i class="fa fa-user bg-light rounded-circle p-2" style="font-size: 29px;"></i>
                                </div>

                                <ul class="ride-location-listing mt-3">
                                    <li class="location-box">
                                        <img class="icon" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/location-fill.svg"
                                            alt="location">
                                        <h5 class="fw-light title-color">{{row.pickupLocation}}</h5>
                                    </li>

                                    <li class="location-box">
                                        <img class="icon" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/gps.svg" alt="gps">
                                        <h5 class="fw-light title-color border-0">{{row.dropLocation}}
                                        </h5>
                                    </li>
                                    
                                </ul>
                                <div class="w-100">
                                    <ul class="ride-location-listing align-content-center">
                                        <li class="location-box">
                                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhX6yk4PuUseDOFGctqr6E2t0osNNefMaceA&s"
                                                alt="location">
                                            <h5 class="fw-light title-color">
                                                <b>"Hang tight! Your ride is being confirmed. We'll notify you shortly. 🚖✨"</b>
                                            </h5>
                                        </li>
                                    </ul>
                                    <div class="ride-info-content">
                                        <div class="gap-1">
                                            <img src="./../../../assets/book-pending.gif" style="width: 100%;height: 185px;" alt="">
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="my-ride-list" *ngIf="trip_status=='accepted'">
                    <li *ngFor="let row of trip_list;">
                        <div class="my-ride-box">
                            <div class="my-ride-head">
                                <a href="#" class="my-ride-img">
                                    <img class="img-fluid my-ride-icon" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/car-img.svg"
                                        alt="receipt">
                                </a>

                                <div class="my-ride-content flex-column">
                                    <div class="flex-spacing">
                                        <a href="#">
                                            <h6 class="title-color fw-medium">ID : 12000052</h6>
                                        </a>
                                        <span class="status accent-color fw-normal">Pending</span>
                                    </div>
                                    <div class="flex-spacing  mt-2">
                                        <h6 class="fw-mediun success-color">&#8377; </h6>
                                        <h6 class="fw-normal content-color">{{row.entry_time * 1000 | date:'medium'}}</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="my-ride-details">
                                <div class="ride-info">
                                    <div class="ride-info-content">
                                        <div class="d-flex align-content-center gap-2 lh-base">
                                            <div class="flex-align-center gap-1">
                                                <h5 class="fw-normal title-color">{{row.distance}} KM</h5>
                                                <span class="count content-color fw-normal">({{row.type_name}})</span>
                                            </div>
                                        </div>
                                        <h6 class="fw-normal content-color mt-1">Tesla car</h6>
                                    </div>
                                    <i class="fa fa-user bg-light rounded-circle p-2" style="font-size: 29px;"></i>
                                </div>

                                <ul class="ride-location-listing mt-3">
                                    <li class="location-box">
                                        <img class="icon" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/location-fill.svg"
                                            alt="location">
                                        <h5 class="fw-light title-color">{{row.pickupLocation}}</h5>
                                    </li>

                                    <li class="location-box">
                                        <img class="icon" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/gps.svg" alt="gps">
                                        <h5 class="fw-light title-color border-0">{{row.dropLocation}}
                                        </h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</section>
<!-- my ride section end -->

<!-- panel-space start -->
<section class="panel-space"></section>
<app-footer></app-footer>

</ion-content>
