<ion-header>
    <header id="header" class="main-header inner-page-header pt-1" style="height: 60px;">
        <div class="custom-container mt-1">
            <div class="header-panel">
                <div class="flex-align-center gap-2">
                    <a  routerLink="/driver/home" data-bs-toggle="offcanvas">
                        <i class="iconsax fa fa-chevron-left text-white" data-icon="text-align-left"> </i>
                    </a>
                    &nbsp;<h5 class="categories-title text-white">Active Ride</h5>
                </div>
    
                <div class="flex-align-center gap-sm-3 gap-2">
                    <img class="img-fluid logo user-logo" src="../../../assets/dlogo.png" style="height: 40px;" alt="logo">
                </div>
            </div>
        </div>
    </header>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
<!-- header end -->

<!-- active ride starts -->
<section>
<div class="custom-container">
<ul class="my-ride-list driver-ride-list mt-0">
<li *ngFor = "let row of accepted_trip">
    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="validateOtp()" enctype="multipart/form-data">
    <div class="my-ride-box">
        <div class="my-ride-head">
            <a class="my-ride-img">
                <img class="img-fluid profile-img" src="../../assets/images/profile/p5.png" alt="p5">
            </a>

            <div class="my-ride-content flex-column">
                <div class="flex-spacing">
                    <a>
                        <h6 class="title-color fw-medium">{{row.u_name}}</h6>
                    </a>
                    <h5 class="fw-mediun success-color m-0">&#8377; 256</h5>
                </div>
                <div class="flex-align-center gap-3">
                    <div class="flex-align-center gap-1">
                        
                        <h5 class="fw-normal m-0 title-color" style="">{{row.trip_status}}</h5>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="my-ride-details">
            <div class="ride-info">
                <h6 class="fw-normal content-color">{{row.trip_date | date:'medium'}}</h6>
                <div class="flex-align-center gap-2">
                    <a class="comm-icon">
                        <img class="img-fluid icon-btn" src="./../../../assets/images/svg/messages-fill.svg"
                            alt="messages">
                    </a>
                    <a href="tel:+4733378901" class="comm-icon">
                        <img class="img-fluid icon-btn" src="./../../../assets/images/svg/call-fill.svg"
                            alt="call">
                    </a>
                </div>
            </div>
            <ul class="ride-location-listing mt-3">
                <li class="border-0 shadow-none">
                    <div class="location-box">
                        <img class="icon" src="./../../../assets/images/svg/location-fill.svg"
                            alt="location">
                        <h5 class="fw-light m-0 title-color">{{row.pickUpAddress}}</h5>
                    </div>
                </li>

                <li class="border-0 shadow-none">
                    <div class="location-box">
                        <img class="icon" src="./../../../assets/images/svg/gps.svg" alt="gps">
                        <h5 class="fw-light m-0 title-color border-0">{{row.dropAddress}}
                        </h5>
                    </div>
                </li>
              
        
            </ul>
            <a [routerLink]="'/driver/active-ride-det/'+row.trip_tbl_id" *ngIf="row.trip_status == 'accepted' ">
                <button *ngIf="row.trip_status == 'accepted'" class="btn theme-btn w-100 mt-3">Confirm & Pickup Customer</button>
            </a>
            <a [routerLink]="'/driver/active-ride-det/'+row.trip_tbl_id">
                <button type="button" *ngIf="row.trip_status == 'confirm' || row.trip_status == 'onboard' " class="btn theme-btn w-100 mt-3">Complete Customer Ride</button>
            </a>  
        </div>

    </div>
</form>

</li>
<li *ngIf="noActiveTrip" class="text-center mt-3">
    <div class="empty-box">
        <img class="img-fluid empty-img " style="height: 140px;width: 140px;" src="./../../../assets/images/svg/empty-bed-svgrepo-com.svg" alt="empty">
        <h3 class="title-color">No Active Ride</h3>
        <p class="content-color pb-3">You have no active ride at the moment.</p>
    </div>

</li>
</ul>
</div>

</section>
<!-- active ride end -->

<!-- panel-space start -->
<section class="panel-space"></section>
<app-footer></app-footer>
</ion-content>
