
<ion-header>
    <header id="header" class="main-header inner-page-header pt-1" style="height: 60px;">
        <div class="custom-container mt-1">
            <div class="header-panel">
                <div class="flex-align-center gap-2">
                    <a routerLink="/user/home" data-bs-toggle="offcanvas">
                        <i class="iconsax fa fa-chevron-left text-white" data-icon="text-align-left"> </i>
                    </a>
                    &nbsp;<h3 class="categories-title text-white">Ride Category</h3>
                </div>
    
                <div class="flex-align-center gap-sm-3 gap-2">
                    <img class="img-fluid logo user-logo" src="../../../assets/dlogo.png" style="height: 40px;" alt="logo">
                </div>
            </div>
        </div>
    </header>
</ion-header>
<ion-content [fullscreen]="true">

<!-- header end -->

<!-- categories section starts -->
<section class="section-b-space">
    <div class="custom-container">
        <ul class="main-categories-list">
           
            <li>
                <a routerLink="/user/search-location-outstation" class="main-categories-box ride" style="background-image: url('./../../../assets/d8d74a00613c7b6c668e.png');">
                    <div class="main-categories-content">
                        <h5>Outstation</h5>
                        <h6>Used for travel city to city</h6>
                        <i class="iconsax arrow-icon" data-icon="arrow-right"> </i>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/user/search-by-stops" class="main-categories-box ride" style="background-image: url('./../../../assets/d8d74a00613c7b6c668e.png');">
                    <div class="main-categories-content">
                        <h5>Ride Now</h5>
                        <h6>used only for all over the world</h6>
                        <i class="iconsax arrow-icon" data-icon="arrow-right"> </i>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- categories section end -->

<!-- panel-space start -->
<section class="panel-space"></section>
<app-footer></app-footer>
</ion-content>
