<!-- 
<ion-header>
    <header id="header" class="main-header py-2 shadow-sm">
        <div class="custom-container px-3">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex align-items-center gap-2">
              <a  data-bs-toggle="offcanvas">
                <ion-buttons slot="start">
                  <ion-menu-button class="text-white"></ion-menu-button>
                </ion-buttons>
              </a>
              <img class="logo" src="../../../assets/dlogo.png" alt="logo" style="height: 30px;">
            </div>
      
            <div class="d-flex align-items-center gap-3">
              <a class="position-relative">
                <i class="fa fa-bell text-white fs-5"></i>
              </a>
            </div>
          </div>
      

        </div>
      </header>
</ion-header> -->
<ion-content [fullscreen]="true">

    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- header end -->
    <!-- <app-new-ride></app-new-ride> -->
    <!-- <app-availibility></app-availibility> -->
    <!-- earning section starts -->
    <div class="container-fluid pb-3">
        <div class="card card-custom p-4 border-0 mt-4" *ngFor="let row of det;"
            style="box-shadow: rgba(214, 166, 90, 0.16) 0px 10px 36px 0px, rgba(203, 206, 67, 0.06) 0px 0px 0px 1px;border-radius: 20px;">
            <div class="d-flex justify-content-center align-items-center mb-1">
                <img class="img-fluid logo user-logo" src="../../../assets/dlogo.png" style="height: 50px;" alt="logo">
                <a href="#offcanvasLeft" data-bs-toggle="offcanvas">
                    <!-- <h6 class="text-dark ml-2">&nbsp;<b>Deena's <br>&nbsp;Cab Booking</b></h6> -->
                </a>
                <div>
                    <!-- <button class="icon-btn"><i class="fas fa-search"></i></button> -->
                    <!-- <button class="icon-btn"><i class="far fa-bell"></i></button> -->
                </div>
            </div>

            <div>
                <h3 class="fw-bold mb-1 mt-0 pt-0">Hey,</h3>
                <h2 class="fw-bold m-0 text-dark mb-2">{{row.d_name}}</h2>
               
            </div>
            <div
                class="d-flex justify-content-between align-items-center bg-white border border-secondary rounded-pill px-4 py-2">
                <h6 class="mb-0 m-0 p-0 text-dark fw-semibold">
                    Available For Ride?
                    <span class="text-muted" *ngIf="aval_status">Yes!</span>
                    <span class="text-muted" *ngIf="!aval_status">No!</span>
                </h6>

                <ion-toggle (ionChange)="toggleNotification($event)" color="success" [checked]="aval_status"
                    style="height: 20px; width: 40px;">
                </ion-toggle>
            </div>
           
        </div>

        <!-- <div class="card p-4 border-0 mt-1"
            style="box-shadow: rgba(244, 238, 132, 0.16) 0px 10px 36px 0px, rgba(203, 206, 67, 0.06) 0px 0px 0px 1px;border-radius: 20px;">
            <div #mapRef id="map" class="map-container shadow-sm mt-3"></div>
        </div> -->
    </div>

    <!-- <section>
        <div class="custom-container">

            <ul class="total-ride-list mt-0 p-0">
                <li>
                    <a class="ride-box">
                        <div class="flex-spacing gap-1">
                            <h4 class="m-0">{{ttlPendingTrips}}</h4>
                            <div class="ride-icon">
                                <i class="iconsax fa fa-car text-danger icon" data-icon="wallet-open"> </i>
                            </div>
                        </div>
                        <div class="flex-spacing gap-1 mt-1">
                            <h6 style="font-size: 12px;" class="d-flex flex-wrap m-0">Total Pending Trips</h6>
                            <i class="iconsax fa fa-arrow-right text-secondary arrow-icon" data-icon="arrow-right"> </i>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="ride-box">
                        <div class="flex-spacing gap-1">
                            <h4 class="m-0">{{ttl_schedule_trip}}</h4>
                            <div class="ride-icon">
                                <i class="iconsax fa fa-car text-danger icon" data-icon="smart-car"> </i>
                            </div>
                        </div>
                        <div class="flex-spacing gap-1 mt-1">
                            <h6 style="font-size: 12px;" class="d-flex flex-wrap m-0">Total Scheduled Trips</h6>
                            <i class="iconsax fa fa-arrow-right text-secondary arrow-icon" data-icon="arrow-right"> </i>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="ride-box">
                        <div class="flex-spacing gap-1">
                            <h4 class="m-0">{{ttlCompletedTrips}}</h4>
                            <div class="ride-icon">
                                <i class="iconsax fa fa-car text-danger icon" data-icon="car"> </i>
                            </div>
                        </div>
                        <div class="flex-spacing gap-1 mt-1">
                            <h6 style="font-size: 12px;" class="d-flex flex-wrap m-0">Total Completed Trips</h6>
                            <i class="iconsax fa fa-arrow-right text-secondary arrow-icon" data-icon="arrow-right"> </i>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="ride-box">
                        <div class="flex-spacing gap-1">
                            <h4 class="m-0">{{ttlCancelTrips}}</h4>
                            <div class="ride-icon">
                                <i class="iconsax fa fa-car text-danger icon" data-icon="driving"> </i>
                            </div>
                        </div>
                        <div class="flex-spacing gap-1 mt-1">
                            <h6 style="font-size: 12px;" class="d-flex flex-wrap m-0">Total Cancel Trips</h6>
                            <i class="iconsax fa fa-arrow-right text-secondary arrow-icon" data-icon="arrow-right"> </i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section> -->
 <div class="custom-container mb-2 mt-0 pt-0" *ngIf="ActiveTrip && (ttlActiveTrips > 0)">
            <ul style="box-shadow: rgba(229, 99, 0, 0.25) 0px 50px 100px -20px, rgba(225, 72, 7, 0.3) 0px 30px 60px -30px;" class="notification-list">
                <li (click)="openRideList()">
                    <div class="notification-box">
                        <div class="notification-icon">
                            <i class="iconsax fa fa-clock-o icon" data-icon="clock"> </i>
                        </div>
                        <div>
                            <h5 class="m-0 p-0">Active Ride ({{ttlActiveTrips}})</h5>
                            <p class="m-0 p-0">Tap To See the Active Ride Details.</p>
                        </div>
                    </div>
                </li>
               
            </ul>
          </div>
        <div class="custom-container d-flex justify-content-center text-center align-items-center" *ngIf="!aval_status">
            <div class="card justify-content-center text-center p-4 border-0"
            style="box-shadow: rgba(244, 238, 132, 0.16) 0px 10px 36px 0px, rgba(203, 206, 67, 0.06) 0px 0px 0px 1px; border-radius: 20px;">
            
            <!-- ✅ Centered image using mx-auto -->
            <img 
              style="height: 60px; width: 60px;" 
              class="rounded-circle bg-light p-2 mx-auto d-block" 
              src="./../../../assets/images/auto-rickshaw-svgrepo-com (1).svg" 
              alt="">
        
            <h3 class="mt-3">Turn ON Your Availability Status</h3>
            <h6>To See the Upcoming Rides...</h6>
          </div>
        </div>
            <div class="custom-container" *ngIf="tripAval && aval_status">


            <ul class="my-ride-list driver-ride-list mt-1">
                <div class="title">
                    <h4 class="m-0">All Pending Ride</h4>
                </div>
                <li *ngFor="let row of trip_list">
                    <div class="my-ride-box">
                        <div class="my-ride-head">
                            <a class="my-ride-img">
                                <img class="img-fluid profile-img border border-light"
                                    [src]="imgpath+row.vehicle_type_image" alt="p5">
                            </a>

                            <div class="my-ride-content flex-column">
                                <div class="flex-spacing">
                                    <a>
                                        <h5 style="width: 100px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" class="title-color p-0 m-0 fw-medium">{{row.u_name}}</h5>
                                        <h6 style="font-size: 12px;" class="p-0 m-0">{{row.type_name}},{{row.brand_name}}</h6>
                                    </a>
                                    <div class="flex-align-center">
                                        <div class="flex-align-center gap-1 pe-2">
                                            <h6 class="fw-normal title-color p-0">&#8377; {{row.payment_amt}}</h6>
                                        </div>
                                        <h5 class="fw-mediun theme-color price ps-2 pe-0">
                                            <button class="btn btn-warning btn-sm pl-1 pr-1 m-0 pt-1 pl-1 pr-1 pb-1"
                                                (click)="acceptUserTrip(row.trip_tbl_id)">Accept Trip
                                                <b>&#10003;</b></button>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="my-ride-details">
                            <div class="ride-info">
                                <div class="flex-align-center gap-1 d-flex">
                                    <h6 style="font-size: 12px;">Distance : </h6>
                                    <h6 style="font-size: 12px;" class="fw-normal title-color fw-bold mt-0">{{row.distance}} km</h6>
                                </div>
                                <h6 style="font-size: 12px;" class="fw-normal title-color">{{ row.trip_date | date: 'medium' }}</h6>
                            </div>
                            <ul class="ride-location-listing">
                                <li class="border-0 shadow-none box-background">
                                    <div class="location-box bg-transparent">
                                        <img class="icon"
                                            src="./../../../assets/images/svg/location-pin-svgrepo-com (1).svg"
                                            alt="location">
                                        <h5 style="font-size: 13px;" class="fw-light title-color">{{row.pickUpAddress}}</h5>
                                    </div>
                                </li>

                                <li class="border-0 shadow-none box-background">
                                    <div class="location-box bg-transparent">
                                        <img class="icon"
                                            src="./../../../assets/images/svg/location-define-svgrepo-com.svg"
                                            alt="gps">
                                        <h5 style="font-size: 13px;" class="fw-light title-color border-0">{{row.dropAddress}}</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="custom-container d-flex justify-content-center text-center align-items-center" *ngIf="!tripAval">
            <div class="card justify-content-center text-center p-4 border-0"
              style="box-shadow: rgba(244, 238, 132, 0.16) 0px 10px 36px 0px, rgba(203, 206, 67, 0.06) 0px 0px 0px 1px; border-radius: 20px;">
              
              <!-- ✅ Centered image using mx-auto -->
              <img 
                style="height: 60px; width: 60px;" 
                class="rounded-circle bg-light p-2 mx-auto d-block" 
                src="./../../../assets/images/auto-rickshaw-svgrepo-com (1).svg" 
                alt="">
          
              <h3 class="mt-3">No New Rides Available Right Now</h3>
              <h6>You Will Receive notification when a new trip request is available or Refresh the Page</h6>
            </div>
          </div>
          
  
    <section class="panel-space">
        <app-footer></app-footer>
    </section>
</ion-content>