
<section class="section-b-space">
  <div class="custom-container new-ride">
  
      <div class="profile-list text-center pt-4 pb-3" >
              <button class="btn btn-sm btn-outline-light shadow-sm rounded-circle">
                <img src="./../../../../assets/dlogo.png" alt="" class="rounded-circle " style="width: 30px;height: 30px;">
              </button>
                <br>
                <br>
                <div class="setting-content text-center">
                    <h3>Are You Available For Ride <br> NOW?</h3>
                </div>
                <br>
              
              <!-- <li class="w-100" *ngFor="let row of list;let i=index;" [class.bg_success]="i==0">
                  <a href="#currency" data-bs-toggle="modal" class="setting-box" >
                      <div class="setting-icon">
                          <i class="iconsax fa fa-list text-secondary icon" data-icon="cash"> </i>
                      </div>
                      <div class="setting-content">
                          <div>
                              <h5>{{row.entry_time * 1000 | date:'medium'}}</h5>
                              <h6 *ngIf="row.pincode">{{row.pincode }}</h6>
                          </div>
                          <span class="iconsax icon" [class.text-danger]="row.d_availability == 'closed'" data-icon="chevron-right"> 
                            {{row.d_availability}}
                          </span>
                      </div>
                  </a>
              </li> -->
             
              <div class="bg-white p-3" style="border: 0;left: 1px;width: 100%;">
                <button type="submit" style="width: 47%;" class="btn btn-danger">NO</button>
                &nbsp;
                <button type="submit" style="width: 47%;" class="btn theme-btn">YES</button>
              </div>
      </div>
  </div>
</section>