<header id="header" class="auth-header" style="height: 50px;">
  <div class="custom-container">
      <div class="header-panel pb-0">
          <img class="img-fluid" style="height: 35px;" src="../../assets/dlogo.png"
              alt="logo">
          <img class="img-fluid mx-auto logo-dark user-logo"
              src="../../assets/dlogo.png" style="height: 40px;" alt="logo">
      </div>
      </div>
</header>
<ion-content [fullscreen]="true">

  <div class="auth-bg-image-box">
    <div class="auth-bg-image"></div>
    <div class="auth-content-bg auth-content-bg-bottom">
        <div class="custom-container white-background pb-2">
            <div class="auth-title">
                <div class="loader-line"></div>
                <h2>Create your account</h2>
                <h6>Explore your life by joining with Ride.</h6>
            </div>
            <form class="auth-form" id="loginForm" [formGroup]="loginForm" (ngSubmit)="registerNewUser()" enctype="multipart/form-data">
                <div class="form-group mt-0">
                    <label class="form-label mb-1" for="Inputname">User Name</label>
                    <div class="position-relative">
                        <input type="text" formControlName="u_name" class="form-control" id="Inputname" placeholder="Enter your name">
                        <i class="fa fa-user-o text-secondary icon" data-icon="user-2"></i>
                    </div>
                      <div class="m-0 p-0" *ngIf="loginForm.get('u_name')?.invalid && loginForm.get('u_name')?.touched">
                        <small class="text-danger">Please Enter Your Full Name...</small>
                      </div> 
                </div>
                <div class="form-group">
                    <label class="form-label mb-1" for="Inputnumner">Mobile Number</label>
                    <div class="position-relative">
                        <input type="text" maxlength="10" minlength="10" inputmode="numeric" formControlName="u_number" class="form-control" id="Inputnumner" placeholder="Enter your number">
                        <i class="fa fa-phone text-secondary icon" data-icon="phone"></i>
                    </div>
                      <div class="m-0 p-0" *ngIf="loginForm.get('u_mobile')?.invalid && loginForm.get('u_mobile')?.touched">
                        <small class="text-danger">Enter 10 Digit Mobile No Start With 7, 8, 9 </small>
                      </div>
                </div>
                <div class="form-group">
                    <label class="form-label mb-1" for="Inputemail">Email</label>
                    <div class="position-relative">
                        <input type="email" formControlName="u_email" class="form-control" id="Inputemail" placeholder="Enter your email">
                        <i class="fa fa-envelope text-secondary icon" data-icon="mail"></i>
                    </div>
                    <div class="m-0 p-0" *ngIf="loginForm.get('u_email')?.invalid && loginForm.get('u_email')?.touched">
                        <small class="text-danger">Please Enter Your Email</small>
                      </div>
                    </div>
                <div class="form-group">
                        <label class="form-label mb-1" for="Inputemail">Password</label>
                        <div class="position-relative">
                            <input type="password" formControlName="u_password" class="form-control" id="Inputemail" placeholder="Enter your Password">
                            <i class="fa fa-lock text-secondary icon" data-icon="mail"></i>
                        </div>
                        <div class="m-0 p-0" *ngIf="loginForm.get('u_password')?.invalid && loginForm.get('u_password')?.touched">
                            <small class="text-danger">Please Enter Password</small>
                          </div>
                </div>
                <div class="form-group">
                    <label class="form-label mb-1" for="Inputid">City</label>
                      <div class="position-relative">
                          <select formControlName="city_tbl_id" class="form-select form-control" id="Inputid" placeholder="Enter Address">
                            <option value="" selected disabled>Select City</option>
                            <option *ngFor="let row of city;" [value]="row.city_tbl_id">{{row.city_name}}</option>
                          </select>
                          <i class="fa fa-map-marker text-secondary icon" data-icon="profile-card"></i>
                      </div>
                      <div class="m-0 p-0" *ngIf="loginForm.get('city_tbl_id')?.invalid && loginForm.get('city_tbl_id')?.touched">
                        <small class="text-danger">Select City</small>
                      </div>
                </div>
                <button type="submit" class="btn theme-btn w-100 auth-btn">Sign Up</button>
                <h6 class="content-color fw-normal my-3 text-center"> Already have
                    an account ? <a routerLink="/login" class="title-color fw-medium">Sign in</a> </h6>
            </form>
        </div>
    </div>
</div>
</ion-content>
