

<ion-content [fullscreen]="true">
  <header id="header" class="auth-header inner-page-header white-background pb-3">
    <div class="custom-container">
        <div class="header-panel">
            <a routerLink="/driver/home">
                <i class="iconsax fa fa-chevron-left icon-btn" data-icon="chevron-left"> </i>
            </a>
            <img class="img-fluid logo" src="../../../assets/dlogo.png" alt="logo">
            <img class="img-fluid logo-dark" src="../../../assets/dlogo.png" alt="logo">
        </div>
    </div>
</header>
<!-- header end -->

<!-- document varify  page starts -->
<section class="auth-content-bg" style="height: 100%;">
    <div class="custom-container bg-white pt-2">
        <ul class="line-design">
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>

        <div class="auth-title mt-0 p-0">
            <h2 class="mt-1">Document Verify</h2>
            <h6>Explore your life by joining with Ride.</h6>
        </div>
        <form class="auth-form" id="loginForm" [formGroup]="loginForm" (ngSubmit)="uploadDriverDocuments()" enctype="multipart/form-data">

        <ul class="auth-form">
         
            <li class="form-group">
                <h5 class="fw-medium title-color mb-2">Driving License</h5>
                <div id="output">
                    <input formControlName="d_license_photo" (change)="onFileSelected($event)" id="file" class="form-control" type="file" id="formFileLg">
                    <i class="iconsax upload-icon" data-icon="logout-2"> </i>
                    
                </div>
                <div class="m-0 p-0" *ngIf="loginForm.get('d_license_photo')?.invalid && loginForm.get('d_license_photo')?.touched">
                    <small class="text-danger">Please Upload License</small>
                  </div>
            </li>
            <li class="form-group">
                <h5 class="fw-medium title-color mb-2">Pan Card</h5>
                <div id="output">
                    <input formControlName="d_pan_photo" id="file" (change)="onFileSelected1($event)" class="form-control" type="file" id="formFileLg">
                    <i class="iconsax upload-icon" data-icon="logout-2"> </i>
                    
                </div>
                <div class="m-0 p-0" *ngIf="loginForm.get('d_pan_photo')?.invalid && loginForm.get('d_pan_photo')?.touched">
                    <small class="text-danger">Please Upload Pan Card Image</small>
                  </div>
            </li>
            <li class="form-group">
                <h5 class="fw-medium title-color mb-2">Driver Photo</h5>
                <div id="output">
                    <input formControlName="driver_photo" id="file" (change)="onFileSelected2($event)" class="form-control" type="file" id="formFileLg">
                    <i class="iconsax upload-icon" data-icon="logout-2"> </i>
                    
                </div>
                <div class="m-0 p-0" *ngIf="loginForm.get('driver_photo')?.invalid && loginForm.get('driver_photo')?.touched">
                    <small class="text-danger">Please Upload Driver Photo</small>
                  </div>
            </li>
            <!-- <li class="form-group">
                <div class="d-flex">
                    <div class="w-50" *ngIf="imageUrl">
                        <label for="">Driving License</label>
                        <img class="w-100" *ngIf="imageUrl" [src]="imageUrl" style="height: 150px;object-fit: contain;"/>
                    </div>
                    <div class="w-50" *ngIf="imageUrl1">
                        <label for="">Pan Card</label>
                        <img class="w-100" *ngIf="imageUrl1" [src]="imageUrl1" style="height: 150px;object-fit: contain;"/>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="w-50" *ngIf="imageUrl2">
                        <label for="">Photo</label>
                        <img class="w-100" *ngIf="imageUrl2" [src]="imageUrl2" style="height: 150px;object-fit: contain;"/>
                    </div>
                </div>
            </li> -->
            
        </ul>
        <section class="panel-space"></section>
        <div class="fixed-btn">
            <div class="custom-container">
                <button type="submit" class="btn theme-btn w-100">Next</button>
            </div>
        </div>
        </form>
    </div>


</section>
</ion-content>
