<ion-menu contentId="main-content">
  <div class="menu-container">
    <!-- Logo Section -->
    <div class="logo-section">
      <img src="assets/logo.png" alt="TAXIDO" class="logo">
    </div>
   
    
    <!-- Menu Items -->
    <ion-content>
      <div class="profile-section">
        <div class="head-bg w-100"> 
          <h3>Jonathan Higgins</h3>
          <p>Driver</p>
        </div>
      </div>
      <ion-list lines="none">
        <ion-item routerLink="/driver/home">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label class="label">Home</ion-label>
        </ion-item>
        
        <ion-item routerLink="/driver/myride">
          <ion-icon name="car-outline" slot="start"></ion-icon>
          <ion-label class="label">My Ride</ion-label>
        </ion-item>
        
        <ion-item routerLink="/driver/notifications">
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
          <ion-label class="label">Notification</ion-label>
        </ion-item>
        
        <ion-item routerLink="/driver/profile-setting">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label class="label">Setting</ion-label>
        </ion-item>
        
        
    
      </ion-list>
    </ion-content>
    
    <!-- Logout Section -->
    <div class="logout-section">
      <ion-item routerLink="/login">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label class="label">Logout</ion-label>
      </ion-item>
    </div>
  </div>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- Your page content here -->
  </ion-content>
</div>

