<div class="navbar-menu">
  <ul>
      <li [class.active] = "getActiveTab('/user/home')">
          <a routerLink="/user/home">
              <div class="icon">
                  <img class="unactive" src="./../../../assets/images/svg/home-svgrepo-com.svg" alt="home">
                  <img class="active" src="./../../../assets/images/svg/home-angle-svgrepo-com.svg" alt="home">
              </div>
              <span [class.active] = "getActiveTab('/user/home')">Home</span>
          </a>
      </li>

      <li [class.active] = "getActiveTab('/user/ride-category')">
          <a routerLink="/user/ride-category">
              <div class="icon">
                  <img class="unactive" src="./../../../assets/images/svg/category-svgrepo-com (3).svg" alt="category">
                  <img class="active" style="color: #F7C003;" src="./../../../assets/images/svg/category-svgrepo-com (4).svg" alt="category">
              </div>    
              <span [class.active] = "getActiveTab('/user/ride-category')">Book Ride</span>
          </a>
      </li>

      <li [class.active] = "getActiveTab('/user/my-rides')">
          <a routerLink="/user/my-rides">
              <div class="icon">
                  <img class="unactive" src="./../../../assets/images/svg/car-svgrepo-com (1).svg" alt="car">
                  <img class="active" src="./../../../assets/images/svg/car-svgrepo-com (2).svg" alt="car">
              </div>
              <span [class.active] = "getActiveTab('/user/my-rides')">My Rides</span>
          </a>
      </li>

      <li [class.active] = "getActiveTab('/user/profile-setting')">
          <a routerLink="/user/profile-setting">
              <div class="icon">
                  <img class="unactive" src="./../../../assets/images/svg/setting-2-svgrepo-com.svg" alt="setting">
                  <img class="active" src="./../../../assets/images/svg/setting-5-svgrepo-com.svg" alt="setting">
              </div>
              <span [class.active] = "getActiveTab('/user/profile-setting')">Setting</span>
          </a>
      </li>
  </ul>
</div>
