<div class="navbar-menu">
  <ul>
      <li [class.active] = "getActiveTab('/user/home')">
          <a routerLink="/user/home">
              <div class="icon">
                  <img class="unactive" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/home.svg" alt="home">
                  <img class="active" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/home-fill.svg" alt="home">
              </div>
              <span class="active">Home</span>
          </a>
      </li>

      <li [class.active] = "getActiveTab('/user/ride-category')">
          <a routerLink="/user/ride-category">
              <div class="icon">
                  <img class="unactive" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/category.svg" alt="category">
                  <img class="active" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/category-fill.svg" alt="category">
              </div>
              <span>Category</span>
          </a>
      </li>

      <li [class.active] = "getActiveTab('/user/my-rides')">
          <a routerLink="/user/my-rides">
              <div class="icon">
                  <img class="unactive" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/car.svg" alt="car">
                  <img class="active" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/car-fill.svg" alt="car">
              </div>
              <span>My Rides</span>
          </a>
      </li>

      <li [class.active] = "getActiveTab('/user/profile-setting')">
          <a routerLink="/user/profile-setting">
              <div class="icon">
                  <img class="unactive" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/setting.svg" alt="setting">
                  <img class="active" src="https://themes.pixelstrap.com/pwa/taxido/assets/images/svg/setting-fill.svg" alt="setting">
              </div>
              <span>Setting</span>
          </a>
      </li>
  </ul>
</div>
