
  <ion-header>
    <header id="header" class="main-header inner-page-header pt-1" style="height: 60px;">
        <div class="custom-container mt-1">
            <div class="header-panel">
                <div class="flex-align-center gap-2">
                    <a routerLink="/user/profile-setting" data-bs-toggle="offcanvas">
                        <i class="iconsax fa fa-chevron-left text-white" data-icon="text-align-left"> </i>
                    </a>
                    &nbsp;<h5 class="categories-title text-white">Terms & Condition</h5>
                </div>
    
                <div class="flex-align-center gap-sm-3 gap-2">
                    <img class="img-fluid logo user-logo" src="../../../assets/dlogo.png" style="height: 40px;" alt="logo">
                </div>
            </div>
        </div>
    </header>
</ion-header>
<ion-content [fullscreen]="true">

<!-- notification section starts -->
<section class="section-b-space">
    <div class="custom-container">
        <ul class="notification-list">
            <li *ngFor="let row of terms_condition;let i=index;">
                <div class="notification-box">
                    <div class="notification-icon">
                        <i class="iconsax icon" data-icon="clock">{{i+1}}</i>
                    </div>
                    <div>
                        <h5>{{row.title}}</h5>
                        <p>{{row.description}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
</ion-content>




