<ion-header>
  <header id="header" class="main-header inner-page-header pt-1" style="height: 60px;">
      <div class="custom-container mt-1">
          <div class="header-panel">
              <div class="flex-align-center gap-2">
                  <a routerLink="/driver/profile-setting" data-bs-toggle="offcanvas">
                      <i class="iconsax fa fa-chevron-left text-white" data-icon="text-align-left"> </i>
                  </a>
                  &nbsp;<h5 class="categories-title text-white">Vehicle Registration</h5>
              </div>
  
              <div class="flex-align-center gap-sm-3 gap-2">
                  <img class="img-fluid logo user-logo" src="../../../assets/dlogo.png" style="height: 40px;" alt="logo">
              </div>
          </div>
      </div>
  </header>
</ion-header>

<ion-content [fullscreen]="true">


<section class="auth-content-bg">
  <div class="custom-container">
      <ul class="line-design">
          <li class="active"></li>
          <li class="active"></li>
          
      </ul>

      <div class="auth-title">
          <h2>Vehicle Registration</h2>
          <h6>Explore your life by joining with Ride.</h6>
      </div>


     <form class="auth-form" id="regForm" [formGroup]="regForm" (ngSubmit)="registerNewVehicle()" enctype="multipart/form-data">

        <ul class="vehicle-types-list mb-2">
        
          <li *ngFor="let row of vehicle_type; let i = index">
            <input
              (change)="getBrands($event, row.is_brand_available, row.vehicle_type_tbl_id, row.reg_fee)"
              type="radio"
              class="btn-check"
              formControlName="vehicle_type_tbl_id"
              [value]="row.vehicle_type_tbl_id"
              [id]="'btn-check' + i"
              [attr.checked]="i == 0"
            >

            <label class="btn vehicle-type-button p-0"  [for]="'btn-check' + i">
              <img class="img-fluid vehicle-img"
                   [src]="imgpath + row.vehicle_type_image"
                   alt="van"
                   style="width: 50px; height: 50px;">
              {{ row.type_name }} 
            </label>
          </li>
          
           
        </ul>
        <div class="m-0 p-0" *ngIf="regForm.get('vehicle_type_tbl_id')?.invalid && regForm.get('vehicle_type_tbl_id')?.touched">
          <small class="text-danger">Please Select Vehicle Type...</small>
        </div>
       
          <div class="form-group mt-0 mb-2" *ngIf="showBrands">
            <label class="form-label mb-2" for="InputVehiclename">Select Brand</label>
            <div class="position-relative">
              <select type="radio" class="form-control form-select white-background"  formControlName="vehicle_brand_id" >
                <option value="" selected disabled>Select Brand</option>
                <option *ngFor="let row of brands;let i=index;" [attr.selected]="i==0" [value]="row.vehicle_brand_tbl_id">{{row.brand_name}}</option>
              </select>
            </div>
            <div class="m-0 p-0" *ngIf="regForm.get('vehicle_brand_id')?.invalid && regForm.get('vehicle_brand_id')?.touched">
              <small class="text-danger">Please Select vehicle brand...</small>
            </div>
            </div>
          
        
          <div class="form-group mt-0">
              <label class="form-label mb-2" for="InputVehiclename">Vehicle Name</label>
              <div class="position-relative">
                  <input type="text" formControlName="name_model" class="form-control white-background" id="InputVehiclename"
                      placeholder="Enter vehicle name">
                  <i class="iconsax fa fa-car icon" data-icon="car"></i>
              </div>
              <div class="m-0 p-0" *ngIf="regForm.get('name_model')?.invalid && regForm.get('name_model')?.touched">
                <small class="text-danger">Please Enter Your Modal...</small>
              </div>
          </div>
          <div class="form-group mt-0">
            <label class="form-label mb-2 mt-2" for="InputVehicleNo">Vehicle No</label>
            <div class="position-relative">
              <input
                type="text"
                formControlName="vehicle_no"
                class="form-control white-background"
                id="InputVehicleNo"
                placeholder="Enter vehicle No"
                maxlength="13"
                (input)="formatVehicleNo($event)"
              />
              <i class="iconsax fa fa-sort icon" data-icon="car"></i>
            </div>
            <div class="m-0 p-0" *ngIf="regForm.get('vehicle_no')?.invalid && regForm.get('vehicle_no')?.touched">
              <small class="text-danger">Please enter a valid Vehicle No (e.g. MH 16 JK 8555)</small>
            </div>
          </div>
          
          <div class="form-group ">

              <label class="form-label mb-2" for="InputRegdate">Registration Date</label>
              <div class="position-relative">
                  <input type="date" formControlName="v_reg_date" class="form-control white-background" id="InputRegdate">
                  <i class="iconsax fa fa-calendar-o icon" data-icon="calendar-1"></i>
              </div>
              <div class="m-0 p-0" *ngIf="regForm.get('v_reg_date')?.invalid && regForm.get('v_reg_date')?.touched">
                <small class="text-danger">Please Enter Vehicle Reg. Date...</small>
              </div>
          </div>

          <div class="form-group">
              <label class="form-label mb-2" for="InputVehicleRegFee">Vehicle Registration Fee</label>
              <div class="position-relative">
                  <input formControlName="reg_fee" readonly type="text" class="form-control white-background" id="InputVehicleRegFee"
                      placeholder="Select Type , To See Registration Fee">
                  <i class="iconsax fa fa-rupee icon" data-icon="car"></i>
              </div>
              <div class="m-0 p-0" *ngIf="regForm.get('reg_fee')?.invalid && regForm.get('reg_fee')?.touched">
                <small class="text-danger">Please Select Type...</small>
              </div>
          </div>
          <div class="form-group">
              <label class="form-label mb-2" for="InputFuel">Select Fuel Type</label>
              <div class="position-relative">
                  <select formControlName="fuel_type" class="form-control form-select white-background" id="InputFuel"
                      placeholder="Enter maximum fuel_type">
                    <option value="" selected disabled>Select Fuel Type</option>
                    <option value="Petrol">Petrol</option>
                    <option value="Disel">Disel</option>
                    <option value="CNG">CNG</option>
                    </select>
                  <i class="iconsax fa fa-tint icon" data-icon="users"></i>
              </div>
              <div class="m-0 p-0" *ngIf="regForm.get('fuel_type')?.invalid && regForm.get('fuel_type')?.touched">
                <small class="text-danger">Please Select Fuel type...</small>
              </div>
          </div>
          <div class="form-group">
            <label class="form-label mb-2" for="InputFuel">Select Owner</label>
            <div class="position-relative">
                <select formControlName="owner_tbl_id" class="form-control form-select white-background" id="InputFuel">
                  <option value="" selected disabled>Select Owner</option>
                  <option value="own">Own</option>
                  <option value="other">Other</option>
                  </select>
                <i class="iconsax fa fa-tint icon" data-icon="users"></i>
            </div>
            <div class="m-0 p-0" *ngIf="regForm.get('owner_tbl_id')?.invalid && regForm.get('owner_tbl_id')?.touched">
              <small class="text-danger">Please Select Vehicle Owner...</small>
            </div>
        </div>

          <div class="form-group">
              <label class="form-label mb-2" for="Inputseats">Maximum Seats</label>
              <div class="position-relative">
                  <input formControlName="Seats" type="number" class="form-control white-background" id="Inputseats"
                      placeholder="Enter maximum seats">
                  <i class="iconsax fa fa-user-o icon" data-icon="users"></i>
              </div>
              <div class="m-0 p-0" *ngIf="regForm.get('Seats')?.invalid && regForm.get('Seats')?.touched">
                <small class="text-danger">Please Enter Max Seats...</small>
              </div>
          </div>
          <li class="form-group">
            <h5 class="fw-medium title-color mb-2">Vehicle Photo</h5>
            <div id="output" class="position-relative">
              <input formControlName="photo" style="background-color: white;" id="file" (change)="onFileSelected($event)" class="form-control" type="file" id="formFileLg">
              <i class="iconsax fa fa-upload icon" data-icon="users"></i>
            </div>
            <div class="m-0 p-0" *ngIf="regForm.get('photo')?.invalid && regForm.get('photo')?.touched">
              <small class="text-danger">Please Upload Vehicle Photo</small>
          </div>
           
        </li>
       
          <div class="fixed-btn mt-2">
            <div class="custom-container">
                <button type="submit" class="btn theme-btn w-100 mt-0 auth-btn">Pay & Proceed </button>
                <!-- <button routerLink="/driver/driver-bank-details" class="btn theme-btn w-100 mt-0 auth-btn">Next</button> -->
            </div>
          </div>
      </form>
  </div>

</section>

<section class="p-3 m-4">

</section>


</ion-content>
