

<ion-content [fullscreen]="true">
  <header id="header" class="auth-header inner-page-header white-background pb-3">
    <div class="custom-container">
        <div class="header-panel">
            <a routerLink="/driver/vehicle-registration">
                <i class="iconsax icon-btn" data-icon="chevron-left"> </i>
            </a>
            <img class="img-fluid logo" src="../../assets/images/logo/driver/driver-logo.png" alt="logo">
            <img class="img-fluid logo-dark" src="../../assets/images/logo/driver/driver-logo-dark.png" alt="logo">
        </div>
    </div>
</header>
<!-- header end -->

<!-- bank details section starts -->
<section class="auth-content-bg">
    <div class="custom-container">
        <ul class="line-design">
            <li class="active"></li>
            <li class="active"></li>
            <li class="active"></li>
        </ul>

        <div class="auth-title">
            <h2 class="mt-1">Bank Details</h2>
            <h6>Explore your life by joining with Ride.</h6>
        </div>

        <form class="auth-form" id="bankDetailsForm" [formGroup]="bankDetailsForm" (ngSubmit)="savebank()">
            <div class="form-group mt-0">
                <label class="form-label mb-2" for="Inputname">Bank Name</label>
                <div class="position-relative">
                    <input type="text" class="form-control  white-background" formControlName="bank_name" id="Inputname"
                        placeholder="Enter bank name">
                    <i class="iconsax icon fa fa-building" data-icon="bank"></i>
                </div>
                <div class="m-0 p-0" *ngIf="bankDetailsForm.get('bank_name')?.invalid && bankDetailsForm.get('bank_name')?.touched">
                    <small class="text-danger">Please Enter Your Bank Name...</small>
                  </div>
            </div>
            <div class="form-group ">
                <label class="form-label mb-2" for="Inputholder">Holder Name</label>
                <div class="position-relative">
                    <input type="text" class="form-control white-background" formControlName="bank_acc_holder_name" id="Inputholder"
                        placeholder="Enter holder name">
                    <i class="iconsax icon fa fa-user" data-icon="user-1"></i>
                </div>
                 <div class="m-0 p-0" *ngIf="bankDetailsForm.get('bank_acc_holder_name')?.invalid && bankDetailsForm.get('bank_acc_holder_name')?.touched">
                    <small class="text-danger">Please Enter Your Holder Name...</small>
                  </div>
            </div>
            <div class="form-group">
                <label class="form-label mb-2" for="Inputnumner">Account No.</label>
                <div class="position-relative">
                    <input type="number" class="form-control white-background"  formControlName="bank_account_no" id="Inputnumner"
                        placeholder="Enter your account no">
                    <i class="iconsax icon fa fa-sort" data-icon="wallet-2"></i>
                </div>
                 <div class="m-0 p-0" *ngIf="bankDetailsForm.get('bank_account_no')?.invalid && bankDetailsForm.get('bank_account_no')?.touched">
                    <small class="text-danger">Please Enter Your Account No...</small>
                  </div>
            </div>

            <div class="form-group">
                <label class="form-label mb-2" for="Inputbranch">Branch Name</label>
                <div class="position-relative">
                    <input type="text" class="form-control white-background" id="Inputbranch"
                        placeholder="Enter branch name"  formControlName="branch_name">
                    <i class="iconsax icon fa fa-bank" data-icon="building-1"></i>
                </div>
                 <div class="m-0 p-0" *ngIf="bankDetailsForm.get('branch_name')?.invalid && bankDetailsForm.get('branch_name')?.touched">
                    <small class="text-danger">Please Enter Your Branch Name...</small>
                  </div>
            </div>

            <div class="form-group">
                <label class="form-label mb-2" for="Inputcode">IFSC code</label>
                <div class="position-relative">
                    <input type="text" class="form-control white-background" id="Inputcode"
                        placeholder="Enter ifsc code"  formControlName="bank_ifsc_code">
                    <i class="iconsax icon fa fa-building" data-icon="code-2"></i>
                </div>
                 <div class="m-0 p-0" *ngIf="bankDetailsForm.get('bank_ifsc_code')?.invalid && bankDetailsForm.get('bank_ifsc_code')?.touched">
                    <small class="text-danger">Please Enter Your IFSC code...</small>
                  </div>
            </div>
            <div class="fixed-btn">
            <div class="custom-container">
                <button type="submit" class="btn theme-btn w-100 mt-0 auth-btn">Next</button>
            </div>
        </div>
        </form>

        
    </div>
</section>

<section class="panel-space"></section>
</ion-content>
